body {
    padding: 10px;
    background-color: #fff;
    color: #000;
}

.container {
    max-width: 800px;
    margin: 1 auto;
}


h2 {
    font-size: 16px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-top: 25px;
}


.group {
    display: flex;
    margin-bottom: 8px;
    align-items: flex-start;
}

.label {
    width: 180px;
    font-weight: bold;
    font-size: 13px;
    padding-top: 5px;
}

.content {
    flex: 1;
}


input[type="text"], select, textarea {
    width: 100%;
    padding: 4px;
    border: 1px solid #7a7a7a;
    box-sizing: border-box;
    font-size: 13px;
}


.editor-toolbar {
    border: 1px solid #ccc;
    background: #f9f9f9;
    padding: 5px;
    border-bottom: none;
}

.editor-content {
    border: 1px solid #ccc;
    height: 150px;
    padding: 10px;
}


.footer {
    border-top: 1px solid #ccc;
    margin-top: 30px;
    padding-top: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.left-group {
    margin-right: auto;
    font-size: 13px;
}
.right-group {
    
    display: flex;
    gap: 10px;

}
