.contact{
    margin: 0 auto;
    max-width: 600px;
    font-family: sans-serif;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.row {
    display: flex;
    gap: 15px;
}
.row input , textarea {
    flex:1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.footer {
    color: #8f8e8e;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer button {
    padding: 10px 20px;
    background-color: #58a0ee;
    color : white;
    border:  1px  solid #2781e0;
    border-radius: 4px;
    cursor: pointer;
}