/* Thiết lập chung */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body {
    font-family: 'Quicksand', sans-serif;
    background-color: #e5f6f4;
}

/* Phần HERO bao phủ toàn bộ phía trên */
#hero {
    background-image:  url('ocean.jpg');
    height: 500px; 
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}

/* Header nằm trong Hero */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

#page-logo a {
    font-family: 'Oleo Script', cursive;
    font-size: 35px;
    color: #d8ec8e;
    text-decoration: none;
}

header nav ul {
    display: flex;
    gap: 20px;
}

header nav ul a {
    color: #d8ec8e;
    text-decoration: none;
    font-weight: bold;
}


#hero-content {
    margin: auto; 
    background-color: rgba(58, 58, 58, 0.7);
    text-align: center;
    color: white;
    padding: 40px 60px;
    border-radius: 12px;
}

#hero-content h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 42px;
    margin-bottom: 10px;
}

#hero-content a {
    display: inline-block;
    background-color: #d8ec8e;
    color: #3b0a3b;
    text-decoration: none;
    border-radius: 6px;
    padding: 10px 25px;
    font-weight: bold;
    margin-top: 15px;
}

/* HIGHLIGHTS SECTION */
#highlights {
    text-align: center;
    padding: 30px 4%;
}
#highlights h2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 28px;
    margin-bottom: 25px;
}

#destinations {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.destination img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}
.destination p {
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
    color: #333;
}
.destination p strong{
    color: rgb(40, 189, 189);
}
/* FOOTER */
footer ul {
    display: flex;
    justify-content: center;
    background-color: #1a1a1a;
    gap: 30px;
    padding: 25px;
}

footer i {
    color: white;
    font-size: 30px;
}